<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Test Automation Suite">
    <test name="Monefy Android App Automation">
        <classes>
            <class name="testcase.TestMenuPage"/>
            <class name="testcase.TestHomePage"/>
            <class name="testcase.TestTransferPage"/>
        </classes>
    </test>
</suite>
